# Segmenting and Clustering Neighborhoods in Toronto

In [513]:
import pandas as pd
import numpy as np
import requests

## Path of Data

In [514]:
path = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

## List of postal codes of Canada: M

In [515]:
html = requests.get(path).content
pc_canada_page = pd.read_html(html)

## Postal Codes of Canada Dataframe

In [516]:
df_pcc = pc_canada_page[0]
df_pcc.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

##  Ignore cells with a borough that is Not assigned

In [517]:
df_pcc = df_pcc.loc[df_pcc['Borough']!='Not assigned']
df_pcc.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

## Replace 'Not Assigned' in Neighbourhood with value of borough

In [518]:
condition = df_pcc["Neighbourhood"] == 'Not assigned'
a = df_pcc[condition]
a

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Not assigned

In [519]:
df_pcc.replace("Not assigned","Queen's Park", inplace=True)

# Postal Code Grouping

In [520]:
# grouping results
df_pcc1 = df_pcc.set_index('Postcode','Borough')
grouped_test1 = df_pcc1.groupby(['Postcode','Borough'])['Neighbourhood'].apply(list)

In [521]:
#converting to Data Frame
dfp = pd.DataFrame(grouped_test1)

In [522]:
dfp.head()

                                                 Neighbourhood
Postcode Borough
M1B      Scarborough                          [Rouge, Malvern]
M1C      Scarborough  [Highland Creek, Rouge Hill, Port Union]
M1E      Scarborough       [Guildwood, Morningside, West Hill]
M1G      Scarborough                                  [Woburn]
M1H      Scarborough                               [Cedarbrae]

## Joining values in Neighbourhood

In [523]:
for index, row in dfp.iterrows():
    a = dfp['Neighbourhood'].loc[index]
    dfp.loc[index] = ', '.join(a)

In [524]:
dfp.head()

                                               Neighbourhood
Postcode Borough
M1B      Scarborough                          Rouge, Malvern
M1C      Scarborough  Highland Creek, Rouge Hill, Port Union
M1E      Scarborough       Guildwood, Morningside, West Hill
M1G      Scarborough                                  Woburn
M1H      Scarborough                               Cedarbrae

In [525]:
dfp = dfp.reset_index()
dfp.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

## Shape of Finalised Data Frame

In [526]:
dfp.shape

(103, 3)